<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>
</head>
<body>
<th:block th:fragment="content">

    <div class="row">
        <div class="col-md-7">
            <ul class="list-group-flush">
                <li class="list-group-item">
                    <h3 class="text-center">
                        Автозаказ
                    </h3>
                </li>
                <li class="list-group-item">
                    <h4>Жанры:</h4>
                    <ul class="list-inline list-group-flush" id="genreList">
                        <th:block th:each="genre : ${genres}">
                            <li class="list-inline-item">
                                <strong class="btn btn-outline-info" th:text="${genre}">
                                </strong>
                            </li>
                        </th:block>
                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle" onclick="onGenreAdd()">
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h4>Время:</h4>
                    <ul class="list-inline" id="timeList">
                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle" onclick="onTimeAdd()">
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h4>Стоимость:</h4>
                    <ul class="list-inline" id="priceList">
                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle" onclick="onPriceAdd()">
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5"></div>
    </div>

</th:block>
<th:block th:fragment="scripts">
    <script>
        function onTimeAdd(){
            let timeElementDescription = "<li class='list-inline-item'><button class='btn btn-outline-info'>11:30 - 15:00</button></li>";
            let timeElement = $(timeElementDescription);
            $("#timeList").append(timeElement);
        }
        
        function onGenreAdd() {
            let genreElementDescription = "<li class='list-inline-item'><button class='btn btn-outline-info'>Блокбастер</button></li>";
            let genreElement = $(genreElementDescription);
            $("#genreList").append(genreElement);
        }
        
        function onPriceAdd() {
            // TODO прикрутить добавление цены
        }
        function updateCinemaDistance() {
            // TODO прикрутить обмен данными о кинотеатрах
            // TODO прикрутить перерасчёт расстояний до кинотеатров через Yandex API - route
        }

        $( document ).ready(function() {
            updateCinemaDistance();
        });
    </script>
</th:block>
</body>
</html>