<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>
</head>
<body>
<th:block th:fragment="content">

    <div class="row">
        <div class="col-md-7">
            <ul class="list-group-flush">
                <li class="list-group-item">
                    <h3 class="text-center">
                        Автозаказ
                    </h3>
                </li>
                <li class="list-group-item">
                    <h4>Фильмы:</h4>
                    <ul class="list-inline list-group-flush" id="filmList">

                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle"
                                    data-toggle="collapse"
                                    data-target="#FilmCollapse"
                                    aria-expanded="false"
                                    aria-controls="collapseExample"
                            >
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                    <div class="collapse mt-2" id="FilmCollapse">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" id="filmInput" list="languageList" class="form-control h-100" >
                                <datalist id="languageList">
                                    <th:block th:each="filmName : ${filmNames}">
                                        <option th:value="${filmName}"></option>
                                    </th:block>
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-outline-success h-100" onclick="onFilmAdd()">
                                    <strong class="lg">Добавить</strong>
                                </button>
                            </div>

                        </div>



                    </div>
                </li>
                <li class="list-group-item">
                    <h4>Время:</h4>
                    <ul class="list-inline" id="timeList">
                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle" onclick="onTimeAdd()">
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h4>Стоимость:</h4>
                    <ul class="list-inline" id="priceList">
                        <li class="list-inline-item" >
                            <button class="btn btn-outline-success btn-lg btn-circle" onclick="onPriceAdd()">
                                <strong class="lg">+</strong>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5"></div>
    </div>

</th:block>
<th:block th:fragment="scripts">
    <script>
        let films = [];
        let filmName = document.getElementById("filmInput");
        function onFilmAdd() {
            let filmElementDescription = "<li class='list-inline-item'><button class='btn btn-outline-info'>" + filmName.value + "</button></li>";
            let filmElement = $(filmElementDescription);
            films.push(filmName.value);
            $("#filmList").prepend(filmElement);
        }

        function onTimeAdd(){
            let timeElementDescription = "<li class='list-inline-item'><button class='btn btn-outline-info'>11:30 - 15:00</button></li>";
            let timeElement = $(timeElementDescription);
            //$("#timeList").append(timeElement);
        }

        function onPriceAdd() {
            // TODO прикрутить добавление цены
        }
        function updateCinemaDistance() {
            // TODO прикрутить обмен данными о кинотеатрах
            // TODO прикрутить перерасчёт расстояний до кинотеатров через Yandex API - route
        }

        $(document).ready(function() {
            updateCinemaDistance();
        });
    </script>
</th:block>
</body>
</html>