<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Афиша', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <div>
        <form action="">
            <th:block th:each="genre : ${genres}">
                <label th:for="${'genre-' + genre}" th:text="${genre.name}"></label>
                <input th:id="${'genre' + genre.id}" th:checked="${genre.selected}" th:value="${genre.id}"
                       type="checkbox" name="genres">
            </th:block>
            <input type="submit"/>
        </form>
    </div>
    <table>
        <th:block th:each="film : ${films}">
            <tr>
                <td>
                    <img th:if="${film.getPreviewImageURI() != null}"
                         th:src="${film.getPreviewImageURI()}"
                         alt="asteriks" class="img-fluid">
                    <img th:unless="${film.getPreviewImageURI() != null}"
                         src="/assets/img/placeholder300x300.jpg"
                         alt="asteriks" class="img-fluid">
                </td>
                <td th:text="${film.name}">
                    Название фильма
                </td>
                <td th:text="${film.info}">
                    Краткая информация
                </td>
                <td th:text="${#temporals.format(film.datePremiere.atZone(zoneOffset), 'yyyy', #locale)}">
                    Год
                </td>
                <td>
                    <span th:each="genre : ${film.genres}" th:text="${genre.name}">Жанр</span>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>
<th:block th:fragment="scripts">
    <script>
        // Сеня, скрипты везде на страницах вставлять вот так вот, в это место
        // JQuery и прочая бурда уже подключена в fragments/layout.html
    </script>
</th:block>
</body>
</html>
