<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">

    <div class="row">
        <div class="col-md-7">
            <h2>Синема парк Дыбенко</h2>
            <h5 class="small">Санкт-Петербург</h5>
            <h4><span class="fa fa-sitemap"></span> <a href="#">Cinema Park</a></h4>

            <h4><span class="fa fa-map-marker"></span> Мурманское шоссе, 12-й км, ТРЦ «Мега Дыбенко»</h4>
            <p>Если вы до сих пор не знаете, как ошеломить своих близких — подарите им новые впечатления.
                Огромный экран, технически модная стереосистема, головокружительные спецэффекты позволят
                вам позабыть на минуты о насущных делах и получить удовольствие от просмотра фильма. </p>
        </div>
        <div class="col-md-5">
            <img src="https://img.localway.ru/scaled/poi/230010/447649/544x286.jpg"
                 alt="Dibenko-cinema" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>
                Список сеансов на <b><u th:text="${currentDate.getDay() + currentDate.getMonth()}"></u></b>
            </h4>
        </div>
        <div class="col-md-8 text-right">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>21.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>22.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>23.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-info">
                        <small>24.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>25.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>26.01</small>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-outline-info">
                        <small>27.01</small>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 small">

            <a href="#">
                <button class="btn btn-outline-light">
                    <img src="https://st.kp.yandex.net/im/poster/3/1/7/kinopoisk.ru-Bohemian-Rhapsody-3173882.jpg"
                         alt="bogem-raps" class="img-fluid" >
                </button>
            </a>


        </div>
        <div class="col-md-10">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 small">

            <a href="#">
                <button class="btn btn-outline-light">
                    <img src="https://st.kp.yandex.net/im/poster/3/1/7/kinopoisk.ru-Bohemian-Rhapsody-3173882.jpg"
                         alt="bogem-raps" class="img-fluid" >
                </button>
            </a>


        </div>
        <div class="col-md-10">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p>13:30</p>
                                <p>200р</p>
                            </div>
                        </button>

                    </div>
                </li>

            </ul>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">

</th:block>
</body>
</html>