<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">

    <div class="row">
        <div class="col-md-7">
            <h2 th:text="${cinemaTheatre.address}">Синема парк Дыбенко</h2>
            <h5 class="small">Санкт-Петербург</h5>
            <h4><span class="fa fa-sitemap"></span> <a href="#">Cinema Park</a></h4>

            <h4><span class="fa fa-map-marker"></span> Мурманское шоссе, 12-й км, ТРЦ «Мега Дыбенко»</h4>
            <p>Если вы до сих пор не знаете, как ошеломить своих близких — подарите им новые впечатления.
                Огромный экран, технически модная стереосистема, головокружительные спецэффекты позволят
                вам позабыть на минуты о насущных делах и получить удовольствие от просмотра фильма. </p>
        </div>
        <div class="col-md-5">
            <img th:if="${cinemaTheatre.getPreviewImageURI() != null}"
                 th:src="${cinemaTheatre.getPreviewImageURI()}"
                 alt="asteriks" class="img-fluid">
            <img th:unless="${cinemaTheatre.getPreviewImageURI() != null}"
                 src="/assets/img/placeholder300x300.jpg"
                 alt="asteriks" class="img-fluid">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h4>
                Список сеансов на <b><u th:text="${#temporals.format(currentDate, 'dd.MM')}">24.01</u></b>
            </h4>
        </div>
        <div class="col-md-8 text-right">
            <ul class="list-inline">
                <li th:each="date : ${dates}" class="list-inline-item">
                    <button th:class="${currentDate.equals(date)} ? 'btn btn-info' : 'btn btn-outline-info'">
                        <a th:href="@{cinema(id=${cinemaTheatre.id},date=${date})}">
                            <small th:text="${#temporals.format(date, 'dd.MM')}">23.01</small>
                        </a>
                    </button>
                </li>
            </ul>
        </div>
        <div>
            <a style="font-size: 50px;" th:if="${filmsSessions.hasNextPage()}" th:href="@{cinema(id=${cinemaTheatre.id},date=${currentDate}, page=${page + 1})}">Next page</a>
            <a style="font-size: 50px;" th:if="${filmsSessions.hasPreviousPage()}" th:href="@{cinema(id=${cinemaTheatre.id},date=${currentDate}, page=${page - 1})}">Previous page</a>
        </div>
    </div>

    <div th:each="film : ${filmsSessions.getFilms()}" class="row">
        <div class="col-md-2 small">
            <a th:href="@{/film(id=${film.id})}">
                <button class="btn btn-outline-light">
                    <img th:if="${film.getPreviewImageURI() != null}"
                         th:src="${film.getPreviewImageURI()}"
                         alt="asteriks" class="img-fluid">
                    <img th:unless="${film.getPreviewImageURI() != null}"
                         src="/assets/img/placeholder300x300.jpg"
                         alt="asteriks" class="img-fluid">
                </button>
            </a>
            <p th:text="${film.name}"></p>
        </div>
        <div class="col-md-10">
            <ul class="list-inline">
                <li th:each="filmSession : ${filmsSessions.getSessionsByFilm(film)}" class="list-inline-item">
                    <div class="card">
                        <button class="btn btn-link">
                            <div class="card-body text-center">
                                <p th:text="${#temporals.format(filmSession.getStartTime(), 'HH:mm')}">13:30</p>
                                <p th:if="${filmSession.getTicketWithMinPrice() != null}" th:text="${'от ' + filmSession.getTicketWithMinPrice().intPrice() + 'р'}">200р</p>
                                <p th:unless="${filmSession.getTicketWithMinPrice() != null}">Билетов нет</p>
                                <p th:text="${'Зал ' + filmSession.cinemaHall.number}"></p>
                            </div>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">

</th:block>
</body>
</html>