<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 th:text="${film.name}" class="text-center mb-3">
                Астерикс и тайное зелье, 2018
            </h2>
        </div>
        <div class="col-md-3">
            <h2 class="text-center">Оценки</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <img th:if="${film.getPreviewImageURI() != null}"
                 th:src="${film.getPreviewImageURI()}"
                 alt="asteriks" class="img-fluid film-card-image shadow">
            <img th:unless="${film.getPreviewImageURI() != null}"
                 src="/assets/img/placeholder300x300.jpg"
                 alt="asteriks" class="img-fluid film-card-image shadow">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Жанры:
                        </li>
                        <li th:each="genre : ${film.genres}" class="list-inline-item">
                            <a th:text="${genre.name}" href="#" class="btn btn-outline-info" role="button">Анимация</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <span>Страна: </span>
                    <b><span th:text="${film.country}"></span></b>
                </li>
                <li th:if="${film.dateShootingStart != null}" class="list-group-item">
                    <span>Дата начала съемок: </span>
                    <b><span th:text="${#temporals.format(film.dateShootingStart.atZone(zoneOffset), 'dd.MM.yyyy')}"></span></b>
                </li>
                <li th:if="${film.dateShootingEnd != null}" class="list-group-item">
                    <span>Дата конца съемок: </span>
                    <b><span th:text="${#temporals.format(film.dateShootingEnd.atZone(zoneOffset), 'dd.MM.yyyy')}"></span></b>
                </li>
                <li th:if="${film.datePremiere != null}" class="list-group-item">
                    <span>Дата премьеры: </span>
                    <b><span th:text="${#temporals.format(film.datePremiere.atZone(zoneOffset), 'dd.MM.yyyy')}"></span></b>
                </li>
                <li class="list-group-item">
                    <span>Продолжительность: </span>
                    <b><span th:text="${film.duration}"></span></b>
                    <span> минут</span>
                </li>
                <li class="list-group-item">
                    <span>Краткая аннотация: </span>
                    <span th:text="${film.info}"></span>
                </li>
                <li class="list-group-item" id="plot">
                    <h5 class="mb-0">
                        <button class="btn container-fluid btn-outline-info text-left" data-toggle="collapse"
                                data-target="#collapsePlot"
                                aria-expanded="true" aria-controls="collapsePlot">
                            Полная аннотация
                        </button>
                    </h5>
                    <div th:text="${film.annotation}" id="collapsePlot" class="collapse" aria-labelledby="headingOne"
                         data-parent="#plot">
                        <div class="card-body pl-0">
                            Могучие галлы издревле черпали силу в секретном напитке, который готовил великий старец.
                            Но пришла беда, откуда не ждали – почтенный друид свалился с дерева и сломал обе ноги.
                            Теперь Астериксу и Обеликсу предстоит отправиться в опасное путешествие, чтобы отыскать
                            нового
                            друида, достойного постичь рецепт тайного зелья…
                        </div>
                    </div>
                </li>
                <li th:each="group : ${film.groupSet}" class="list-group-item" id="cast">
                    <h5 class="mb-0">
                        <button th:text="'Съёмочная группа: ' + ${group.name}"
                                class="btn container-fluid btn-outline-info text-left" data-toggle="collapse"
                                data-target="#collapseCast"
                                aria-expanded="true" aria-controls="collapseCast">

                        </button>
                    </h5>
                    <div id="collapseCast" class="collapse" aria-labelledby="headingOne" data-parent="#cast">
                        <div class="card-body pl-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item pl-1">
                                    Режиссёр: Михалков Н.С.
                                </li>
                                <li class="list-group-item pl-1">
                                    Постановщик: Сергеев Н.С.
                                </li>
                                <li class="list-group-item pl-1">
                                    Продюсер: Михалков Н.С.
                                </li>
                                <li class="list-group-item pl-1">
                                    Оператор: Гаврилов Н.С.
                                </li>
                                <ul class="list-inline inline pl-1 pt-1">
                                    <li class="list-inline-item m-0">
                                        Актёрский состав:
                                    </li>
                                    <li class="list-inline-item m-0">
                                        Сергеев Е.К.,
                                    </li>
                                    <li class="list-inline-item m-0">
                                        Горбачёв М.Д.,
                                    </li>
                                    <li class="list-inline-item m-0">
                                        Депардье Ж.Ж.,
                                    </li>
                                    <li class="list-inline-item m-0">
                                        Клавье К.К.,
                                    </li>
                                    <li class="list-inline-item m-0">
                                        Курнаков И.Е.
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">

            <ul class="list-group">
                <li class="list-group-item text-center">
                    Моя оценка: <span class="text-success">7/10</span>
                </li>
                <li class="list-group-item text-center">
                    Средняя оценка: <span th:text="${film.averageRating}" class="text-success">7/10</span>
                </li>
                <form action="/rating" method="POST">
                <li th:if="${loggedUser != null}" class="list-group-item">
                    <h6 class="text-center">
                        Поставить оценку
                    </h6>
                    <input type="text" name="id" hidden th:value="${film.id}">
                    <input type="text" name="value" hidden id="rateValue">
                    <ul class="list-inline text-center w-100">
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-danger btn-sm" type="submit" onclick="updateRateValue(1)">
                                1
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-danger btn-sm" type="submit" onclick="updateRateValue(2)">
                                2
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-danger btn-sm" type="submit" onclick="updateRateValue(3)">
                                3
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-warning btn-sm" type="submit" onclick="updateRateValue(4)">
                                4
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-warning btn-sm" type="submit" onclick="updateRateValue(5)">
                                5
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-warning btn-sm" type="submit" onclick="updateRateValue(6)">
                                6
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-success btn-sm" type="submit" onclick="updateRateValue(7)">
                                7
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-success btn-sm" type="submit" onclick="updateRateValue(8)">
                                8
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-success btn-sm" type="submit" onclick="updateRateValue(9)">
                                9
                            </button>
                        </li>
                        <li class="list-inline-item mt-1">
                            <button class="btn btn-outline-success btn-sm" type="submit" onclick="updateRateValue(10)">
                                10
                            </button>
                        </li>


                    </ul>
                </li>
                </form>
                <li th:if="${loggedUser == null}" class="list-group-item text-center list-group-item-danger">
                    <a href="/user/login">Войдите, чтобы оставить оценку</a>
                </li>
                <li th:if="${loggedUser != null}" class="list-group-item text-center">
                    Моя оценка: <span class="text-success">7/10</span>
                </li>
                <li th:if="${loggedUser != null}" class="list-group-item text-center">
                    <table class="table table-sm w-100 table-hover">
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Близость</th>
                            <th scope="col">Оценка</th>
                        </tr>
                        <tr th:each="closeUserRelatedProximity : ${closeUserRelatedProximityList}">
                            <td th:text="${closeUserRelatedProximity.getProximityFriend().getName()}">Антон</td>

                            <td th:text="${closeUserRelatedProximity.getProximity() + '%'}">100%</td>
                            <td th:if="${closeUserRelatedProximity.getRate() >= 7 }"
                                class="text-success"
                                th:text="${closeUserRelatedProximity.getRate() + '/10'}" >7/10</td>
                            <td th:if="${closeUserRelatedProximity.getRate() > 3 && closeUserRelatedProximity.getRate() < 7}"
                                class="text-warning"
                                th:text="${closeUserRelatedProximity.getRate() + '/10'}" >7/10</td>
                            <td th:if="${closeUserRelatedProximity.getRate() <= 3  }"
                                class="text-danger"
                                th:text="${closeUserRelatedProximity.getRate() + '/10'}" >7/10</td>
                        </tr>

                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <h4 class="text-left">
                Список сеансов на <b><u th:text="${#temporals.format(currentDate, 'dd.MM')}">24.01</u></b>
            </h4>
        </div>
        <div class="col-md-8 text-right">
            <ul class="list-inline">
                <li th:each="date : ${dates}" class="list-inline-item">
                    <a th:href="@{film(id=${film.id},date=${date})}">
                        <button th:class="${currentDate.equals(date)} ? 'btn btn-info' : 'btn btn-outline-info'">
                            <small th:text="${#temporals.format(date, 'dd.MM')}">23.01</small>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <a th:if="${cinemaTheatresSessions.hasPreviousPage()}" th:href="@{film(id=${film.id},date=${currentDate}, page=${page - 1})}">Предыдущие сеансы</a>
            <a th:if="${cinemaTheatresSessions.hasNextPage()}" th:href="@{film(id=${film.id},date=${currentDate}, page=${page + 1})}">Следующие сеансы</a>
        </div>
    </div>
    <div th:each="cinemaTheatre : ${cinemaTheatresSessions.getCinemaTheatres()}" class="row mt-2">
        <div class="col-md-2 ">
            <a th:href="@{'/cinema?id=' + ${cinemaTheatre.id}}">
                <div class="card shadow">
                    <img th:if="${cinemaTheatre.getPreviewImageURI() != null}"
                         th:src="${cinemaTheatre.getPreviewImageURI()}"
                         alt="asteriks" class="card-img-top card-image-mini-scale">
                    <img th:unless="${cinemaTheatre.getPreviewImageURI() != null}"
                         src="/assets/img/placeholder300x300.jpg"
                         alt="asteriks" class="card-img-top card-image-mini-scale">
                    <div class="card-header">
                        <div class="card-title text-center" th:text="${cinemaTheatre.address}"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-10">
            <ul class="list-inline">
                <li th:each="filmSession : ${cinemaTheatresSessions.getSessionsByCinemaTheatre(cinemaTheatre)}" class="list-inline-item">
                    <div class="card shadow-sm">
                        <a th:href="@{'/session/' + ${filmSession.id}}">
                        <button class="btn btn-outline-success" >
                            <h3 class="text-center" th:text="${#temporals.format(filmSession.getStartTime(), 'HH:mm')}">13:30</h3>
                            <p class="text-left mt-0" th:if="${filmSession.getTicketWithMinPrice() != null}" th:text="${'от ' + filmSession.getTicketWithMinPrice().intPrice() + 'р'}">200р</p>
                            <p class="text-left" th:unless="${filmSession.getTicketWithMinPrice() != null}">Билетов нет</p>
                        </button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script>
        function updateRateValue(value) {
            let inputField = document.getElementById("rateValue");
            inputField.value = value;
        }
    </script>
</th:block>
</body>
</html>