<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <div class="row align-middle">
        <div class="col-md-4 col-xs-3"></div>
        <div class="col-md-4 col-xs-6">
            <h3 class="text-center">Регистрация</h3>
            <form th:action="@{/user/register}" th:object="${user}" method="post">
                <div class="form-group">
                    <label class="control-label" for="login">
                        Выберите имя пользователя
                    </label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <span class="fa fa-user"></span>
                        </div>
                        <input th:field="*{name}" class="form-control" id="login" type="text" placeholder="Ваш логин"/>
                    </div>
                    <p th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">
                        Введите вашу электронную почту
                    </label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <span class="fa fa-at"></span>
                        </div>
                        <input class="form-control" id="email" type="email" placeholder="Ваша почта"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">
                        Выберите пароль
                    </label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input th:field="*{password}" class="form-control" id="password" type="password" placeholder="Ваш пароль"/>
                    </div>
                    <p th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password-repeat">
                        Повторите выбранный пароль
                    </label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input class="form-control" id="password-repeat" type="password" placeholder="Ваш пароль"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться">
                </div>
                <div class="row">
                    <div class="col-md-6 help-login-link-left">Уже есть аккаунт? </div>
                    <div class="col-md-6 help-login-link-right"><span><a href="#">Войти</a> </span></div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-xs-3"></div>
    </div>


</th:block>
<th:block th:fragment="scripts">

</th:block>
</body>
</html>