<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Вход', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">


    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h2><span class="fa fa-film"></span><a href="#"> Богемская рапсодия</a></h2>

                <h3><span class="fa fa-clock-o"></span> 24.01.2019 13:30</h3>
                <h4><span class="fa fa-building-o"></span> Зал №5 </h4>
                <h5><span class="fa fa-institution"></span><a href="#"> Синема парк "Дыбенко"</a></h5>
                <h5><span class="fa fa-map-marker"></span> Ленинградская обл., Всеволожский район, Мурманское шоссе, 12 км</h5>

            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://i.pinimg.com/originals/e5/c7/be/e5c7bedf3381e0ba5ed6ec1fbdc017fc.jpg" alt="raphsody"
                 class="img-fluid">
        </div>
    </div>
    <div class="row mt-2">
        <div class="text-center w-100">
            <h3 class="text-center ">Выберите места:</h3>
        </div>
        <div class="text-center w-100">
            <ul class="list-group center-block text-center">
                <li class="list-group-item">

                    <ul class="list-inline">
                        <div class="list-inline-item align-middle   ">
                            4
                        </div>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    1
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">

                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    2
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    3
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    4
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    5
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    6
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    7
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">

                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    8
                                </button>
                            </div>
                        </li>
                        <div class="list-inline-item align-middle   ">
                            4
                        </div>
                    </ul>
                    <ul class="list-inline">
                        <div class="list-inline-item align-middle   ">
                            3
                        </div>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    1
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    200р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    2
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    220р
                                </div>
                                <button class="btn btn-danger h-75">
                                    3
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-dark h-75">
                                    4
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    5
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    5
                                </button>
                            </div>
                        </li>
                        <div class="list-inline-item align-middle   ">
                            3
                        </div>
                    </ul>
                    <ul class="list-inline">
                        <div class="list-inline-item align-middle   ">
                            2
                        </div>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    1
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    2
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    3
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    150р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    4
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    170р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    5
                                </button>
                            </div>
                        </li>
                        <div class="list-inline-item align-middle   ">
                            2
                        </div>
                    </ul>
                    <ul class="list-inline">
                        <div class="list-inline-item align-middle   ">
                            1
                        </div>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    100р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    1
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    100р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    2
                                </button>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center">
                                <div class="h-25">
                                    100р
                                </div>
                                <button class="btn btn-outline-success h-75">
                                    3
                                </button>
                            </div>
                        </li>

                        <div class="list-inline-item align-middle   ">
                            1
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</th:block>
<th:block th:fragment="scripts">

</th:block>
</body>
</html>