<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Мои оценки', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <div class="starter-template">
        <table>
            <th:block th:each="rating : ${rates}">
                <tr>
                    <td>Фильм</td>
                    <td>Оценка</td>
                    <td>Дата</td>
                </tr>
                <tr>
                    <td th:text="${rating.film.name}"></td>
                    <td th:text="${rating.rate}">
                    </td>
                    <td th:text="${#temporals.format(rating.date.atZone(zoneOffset), 'dd.MM.yyyy HH:mm', #locale)}">
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script>
        // Сеня, скрипты везде на страницах вставлять вот так вот, в это место
        // JQuery и прочая бурда уже подключена в fragments/layout.html
    </script>
</th:block>
</body>
</html>
